@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-SegoeUI: "Segoe UI", sans-serif;
  --font-firacode: "Fira Code", monospace;
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;

  /* ... */
}

/* Adicionar configuração global da fonte */
@layer base {
  html {
    font-family: var(--font-SegoeUI), sans-serif;
    font-size: 62.5%;
    box-sizing: border-box; /* Adiciona box-sizing: border-box globalmente */
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit; /* Herda box-sizing: border-box de html */
  }
  body {
    height: 100vh;
    color: #222;
    line-height: 1.25;
    background: #fff;
    padding: 2.4rem;
  }

  section {
    max-width: 1140px;
    margin: 0 auto;
  }

  header {
    margin-bottom: 32px;
    font-weight: bold;

    justify-content: space-between;
    display: flex;
  }

  h1 {
    font-size: 26px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  h1 span {
    font-size: 140%;
    line-height: 1;
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 24px;
    color: #333;
  }

  h3 {
    text-transform: capitalize;
    margin-bottom: 16px;
    color: #333;
  }

  header div {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  header button {
    font-size: 14px;
  }

  form {
    padding: 24px;
    background-color: #fff4e6;
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }

  main {
    margin-bottom: 40px;
  }

  aside {
    margin-bottom: 40px;
    opacity: 75%;
  }

  input,
  textarea,
  button {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #ffe8cc;
    font-family: inherit;
    color: inherit;
  }

  input {
    width: 12rem;
  }

  *::placeholder {
    color: #999;
  }

  *:focus {
    outline: 2px solid #ffa94d;
    border-radius: 2px;
  }

  textarea {
    flex: 1;
    height: 50px;
  }

  button {
    border: 1px solid #ffa94d;
    background-color: #ffa94d;
    font-weight: 700;
    padding: 9px 24px;
    cursor: pointer;
  }

  h3 {
    text-transform: capitalize;
    margin-bottom: 16px;
    color: #333;
  }

  main ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
  }

  main li {
    border: 1px solid #ffe8cc;
    padding: 16px 20px;
  }

  main li:hover {
    background-color: #fff4e6;
  }

  aside ul {
    font-size: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  aside li {
    border: 1px solid #ffe8cc;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 + button {
    margin-bottom: 24px;
  }

  aside li button {
    padding: 4px 8px;
    font-size: 14px;
  }
}

@layer components {
  .btn-default {
    background-color: var(--color-medium);
    color: #343a40;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-dark);
      }
    }
  }

  .btn-add {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 10rem;
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-primary-light);
      }
    }
  }

  .btn-delete {
    position: absolute;
    right: 2.4rem;

    height: 1.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-red);
    color: var(--color-background-900);
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
  }
  &:hover {
    @media (hover: hover) {
      background-color: var(--color-red-dark);
    }
  }

  .btn-back {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    height: 3.2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    /* background-color: var(--color-text); */
    background-color: #fff;
    color: var(--color-background-500);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
    font-family: sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.fake-dark-mode {
  filter: invert(100%);
  transition: all 0.5s;
}

.btn-fake-dark-mode {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  line-height: 1;
  font-size: 26px;
  background-color: #ffe8cc;
  border: none;
}
